html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 30px;
	font-family: 'Inter', sans-serif;
}
